@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #008080;
}

.wrapper {
    background: #fff;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    padding: 25px;
}

.wrapper header {
    font-size: 22px;
    font-weight: 600;
}

.wrapper .poll-area {
    margin: 20px 0 15px 0;
}

.poll-area label {
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px 15px;
    border: 2px solid #e6e6e6;
}

label.selected {
    border-color: #008080;
}

label .row {
    display: flex;
    justify-content: space-between;
}

label .row .column {
    display: flex;
    align-items: center;
}

label .row .circle {
    height: 19px;
    width: 19px;
    position: relative;
    display: block;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.2s ease;
}

label.selected .row .circle {
    border-color: #008080;
}

.row .circle::after {
    content: "";
    position: absolute;
    height: 11px;
    width: 11px;
    top: 2px;
    left: 2px;
    background: #ccc;
    border-radius: inherit;
    display: none;
}

label.selected .row .circle::after {
    display: block;
    background: teal !important;
}

label:hover .row .circle::after {
    display: block;
    background: #e6e6e6;
}

label .row .percent {
    display: none;
}

label .row span {
    font-size: 16px;
    font-weight: 400;
}

label .progress {
    height: 7px;
    width: 100%;
    position: relative;
    margin: 8px 0 3px 0;
    background: #f0f0f0;
    border-radius: 30px;
    display: none;
}

label .progress::after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(1% * var(--w));
    background: #ccc;
    border-radius: inherit;
}

label.selected .progress::after {
    background: #008080;
}

label.selectAll :is(.percent, .progress) {
    display: block;
}
